$primary: #0d6efd;
$yel: #ffd300;

.about {
  background-color: $yel;
}

.card {
  transition: 0.3s;
  width: 21rem;
  height: 380px;
  border-radius: 0;
  border: 2px solid #000;
  transform: translateY(-30%);
  z-index: 23;
}

.card h5 {
  color: #ffff;
  background-color:#000;
  text-align: center;
  width:60px;
  padding: 4px 0px 4px 0px;
  margin-top: 10px;

}
.card h4 {

}

.card p {

}

.card:hover {
  box-shadow: -9px 9px 0 #000;
  transform: translate(5px, -33%);
}

@media (max-width: 991px) {
  .card {
    transform: translateY(0);
  }
  .card:hover {
    box-shadow: -9px 9px 0 #000;
    transform: translate(6px, -6px);
  }
}
