/*--------------------------------------------------------------
  # Contact
  --------------------------------------------------------------*/
$d_orange:#FB8500;


.title {
  display: flex;
  justify-content:center;
  align-items: center;
  color: #0d6efd;
}

.titleHeader {
  font-size: 38px;
  font-weight: 700;
  color: #0d6efd;
}

.subTitle {
  color: #858ea1;
  margin: 10px 0 30px 0;
  text-align: center;
  font-size: 24px;
} 

.info {
  border-top: 3px solid #0d6efd;
  border-bottom: 3px solid #0d6efd;
  padding: 30px;
  width: 100%;
}

.infoIcon {
  font-size: 24px;
  color: #0d6efd;
  float: left;
  width: 44px;
  height: 44px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.infoHeader {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #5f687b;
}

.infoPTag {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #949cac;
}

.infoIcon:hover{
  background: #0d6efd;
  color: #fff;
}
.span {
  color:#fff;
  background:#0d6efd;
}

.emailForm {
  width: 100%;
  border-top: 3px solid #0d6efd;
  border-bottom: 3px solid #0d6efd;
  padding: 30px;
  background-color: #f9f9fa;
}

.formGroup {
  padding-bottom: 8px;
}

.submitButton[type="submit"] {
  background: #0d6efd;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.submitButton:hover {
  background: $d_orange;
}
