$dark:#10162F;
$gold:#FFD300;
$yel:#FCEC5A;

.features {
    padding-top: 20px;
    background-color:$dark;
    padding-bottom:30px;
}

.features h1 {
    color: #ffff;
}

// .Icon {
//     color: #fffff;
//     transform: translate(100px,100px);
// }

.getStarted {
    background-color:$gold;
    padding:0 5px;
    border-radius: 5px;
    height:55px;
    box-shadow:  -6px 6px #fff;
    transition: all 0.3s ease-in-out;
}

.getStarted:hover {
    box-shadow:  -10px 10px #fff;
}

.getStarted p{
    color:#000;
    font-size:22px;
    line-height:40px;
}
.contact {
    color:$yel;
    font-size:20px;
}
.contact:hover {
    color:$gold;
}
@media (max-width: 850px) {
    .getStarted p{
        font-size:18px;
    }
    .contact {
        font-size:16px;
    }
  }