$dark:#10162F;
$gold:#FFD300;
$yel:#FCEC5A;

.features {
    padding-top: 20px;
    background-color:$dark;
    padding-bottom:30px;
}

.features h1 {
    color: #ffff;
}

.features a:first-child {
    background-color:$gold;
    color:#000;
    font-size:25px;

}

.features a:second-child {
    color:$yel;
}