$primary: #0d6efd;
$milk :#FFF0E5;
$goldy:#FFD300;
$clue:#757171;
$white_blue:#CBFCF9;

.hero {
  background-color: $milk !important;
  padding-bottom:110px;
  width:100%;
}

.header {
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  color: #000;
}

.header span {
  background: linear-gradient(to top, $goldy 50%, transparent 50%);
}

.subHeader {
  line-height:31px;
  color: $clue;
  margin: 10px 0 30px 0;
  font-size: 1.35rem;
  font-weight: 600;
}

.getStarted {
  font-weight: 700;
  font-size: 21px;
  display: flex;
  padding: 8px 8px 8px 15px;
  transition: 0.3s;
  color: #000!important;
  background: #ffff;
  border:2px solid #000;
  box-shadow: -8px 8px 0 #000;

}

.subscribe {
  font-size: 21px;
  transition: 0.3s;
  margin-left: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #000!important;
  border:2px solid #000;
  background-color: $white_blue;
  font-weight: 700;
  margin-right: 8px;
  padding: 8px 30px 10px 30px;
}


.subscribe:hover {
  transform:translate(4px, -4px);
  box-shadow: -6px 6px 0 #000;
}
.getStarted:hover {
  box-shadow: -12px 12px 0 #000;
}


.heroImg img {
  width: 100%;
  height:100%;
}
@media (min-width:1200px) {
  .heroImg img {
    width:590px;
    height:540px;
  }
}
@media (min-width:1470px) {
  .hero{
    padding-bottom:130px;
  }
  .heroImg img {
    width:730px;
    height:650px;
  }
}

@media (max-width: 991px) {
  .hero {
    padding-bottom:85px;
  }
  .header {
    text-align: center;
  }
  .subHeader {
    text-align: center;
  }
  .buttons {
    justify-content: center;
  }
  .heroImg {
    text-align: center;
    justify-content: center!important;
  }
  .heroImg img {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .header {
    font-size: 30px;
    line-height: 36px;
  }
  .subHeader {
    font-size: 18px;
    line-height: 24px;
  }
  .heroImg img {
    width: 90%;
  }
  // .hero {
  //   padding-bottom:80px;
  // }
}

@media (max-width: 575px) {
  .heroImg img {
    width: 80%;
  }
}

@media (max-width:440px) {
  .getStarted {
    font-size:17px;
    padding:5px 6px 5px 13px;

  }
  .subscribe {
    font-size:17px;
    padding: 4px 20px 4px 20px;
  }
  .hero {
    padding-bottom: 50px;
  }
}