$primary: #0d6efd;

.hero {
  background-color: #FFF0E5 !important;
}

.header {
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  color: #3e4450;
}

.subHeader {
  color: #858ea1;
  margin: 10px 0 30px 0;
  font-size: 24px;
}

.getStarted {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  display: flex;
  padding: 8px 10px 10px 30px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: $primary;
  box-shadow: 0 8px 28px rgba(7, 101, 224, 0.45);
}
.icon {
  font-size: 23px;
  font-weight: 700;
  padding: 0 5px;
}

.getStarted:hover,
.subscribe:hover {
  color:#fff;
  background: #003dad;
  box-shadow: 0 8px 28px rgba(0, 89, 255, 0.45);
}

.subscribe {
  font-size: 16px;
  display: inline-block;
  transition: 0.5s;
  margin-left: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: $primary;
  background-color: #dae7fb !important;
  font-weight: 700;
  line-height: 0;
  margin-right: 8px;
  padding: 8px 30px 10px 30px;
}

.heroImg img {
  width: 95%;
}

@media (max-width: 991px) {
  .header {
    text-align: center;
  }
  .subHeader {
    text-align: center;
  }
  .buttons {
    justify-content: center;
  }
  .heroImg {
    text-align: center;
  }
  .heroImg img {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .header {
    font-size: 28px;
    line-height: 36px;
  }
  .subHeader {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  .heroImg img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  .heroImg img {
    width: 60%;
  }
}
