$glue: #f5fcff;
$goldy:#FFD300;


.projects {
  background-color: $glue;
  padding-bottom: 70px;
  padding-top:50px;
}
.title{
  background: linear-gradient(to top, $goldy 50%, transparent 50%);
  width: 100px;
}
.viewPage {
  background-color: #ffff;
  color: #ffff;
  border: 2px solid #000;
  transition: all 0.2s ease;
}
.viewPage p {
  color: #000;
  font-size: 21px;
  margin-left: 7px;
}
.viewPage:hover {
  box-shadow: -8px 8px #000;
  transform: translate(5px, -5px);
}

.github {
  border: 2px solid #000;
  background-color: #ffff;
  transition: all 0.2s ease;
  padding:10px 20px;
  width:100%;
  // max-width:640px;
}

.github p {
  color: #000;
}

.github:hover {
  box-shadow: -8px 8px #000;
  transform: translate(5px, -5px);
}

.box {
  padding: 30px 0 0 30px;
  position: relative;
  background: #fff;
  border: 2px solid #000;
  transition: all 0.2s ease;
  width:100%;
}

.box:hover {
  box-shadow: -9px 9px 0 #000;
  transform: translate(6px, -6px);
}

.box h6 {
  color: #ffff;
  background-color: #000;
  text-align: center!important;
  width: 70px;
  padding: 4px;
  transform: translate(-20px, -20px);
  font-size: 1rem;
}

.box h4 {
  font-size: 1.2rem;
  transform: translate(-20px, -20px);
  padding: 0;
  margin: 0;
}
@media (max-width: 767px) {
  
.github {
  width: 90%;
  padding:0px 20px;
}
.box{
  width:90%;
}
}
@media (min-width:1450px) {
  .blocks{
    transform: translateX(-17%)
  }
}
