
  /*--------------------------------------------------------------
  # Counts
  --------------------------------------------------------------*/
  .counts {
    padding-top: 0;
  }
  
  .counts .counters span {
    font-size: 48px;
    display: block;
    color: orange;
    font-weight: 700;
  }
  
  .counts .counters p {
    padding: 0;
    margin: 0 0 20px 0;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 600;
  }
  