.modal {
  width:clamp(50%, 1150px, 95%);
  height:min(50%,300px);
  margin:auto;
  padding:0 2rem;
  position: fixed;
  display:flex;
  flex-direction: column;
  align-items: center;
  background: cornsilk;
}
