.dashboard {
  background-color: #f2f6fc;
  padding-top: 85px;
}
.count {
  background-color: #fb8d10;
}

.button:hover {
  box-shadow: 0 8px 28px 0 #3d88f8;
  background-color: #0d6efd !important;
}
.projects {
  height: 40rem;
}
.button {
  transition: all 0.2s !important;
}

@media (max-width: 1100px) {
  .dashboard {
    margin-top: 0;
  }
}
