$white: #f5fcff;
$goldy:#FFD300;

.dashboard {
  background-color: $white;
}

.buttons:hover,.allButton:hover {
  box-shadow: -4px 4px 0 #000;
  transform:translate(4px, -4px);
}
.allButton {
  text-align:center;
  background-color:#fff;
  border: 2px solid #000;
  transition: all 0.2s !important;
}
.projects {
  height: 1000px;
  border-left:3px solid #000;
  border-radius: 0px!important;
  overflow-x:hidden;
}
.buttons {
  font-size:1.1rem!important;
  text-align:center;
  background-color:#fff;
  border: 2px solid #000;
  transition: all 0.2s !important;
}

.titles {
  background: linear-gradient(to top, $goldy 50%, transparent 50%);
}

.count {
  font-size: 1rem;
  border-left: 2px solid #000;
  border-radius:0px;
}

@media (max-width: 1100px) {
  .dashboard {
    margin-top: 0;
  }
}

@media (max-width:780px) {
  .projects {
    border-left:0px!important;
    border-radius: 0px!important;
    width:100%;
  }
}
@media (max-width:1296px) {
  .buttons{
  font-size:1rem!important;
  }
  .counts {
  font-size: 14px;

  }
}
@media (max-width:1000px) {
  .buttons{
  font-size:14px!important;
  padding:4px 4px 4px 6px!important; 
  }
  .counts {
  font-size: 13px;

  }
}
@media (max-width:820px) {
  .titles {
    font-size: 1.5rem!important;
  }
}