$yel: #fcec5a;
$milk: #fff0e5;
$sky: #eafafe;
$sea: #3a10e5;

#footer {
  background-color: $milk !important;
  border-top: 2px solid #000;
  position: relative;
}

#footer .footer-top {
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 10px 0;
  border: 2px solid #000;
  background-color: $sky;
  margin: 20px 50px;
}

#footer .footer-top h3 {
  font-size: 36px;
  font-weight: 700;
  color: $yellow;
  position: relative;
  font-family: "Poppins", sans-serif;
  padding-bottom: 0;
  margin-bottom: 0;
}

#footer .footer-top p {
  font-size: 16;
  width: 100%;
  font-style: italic;
  margin: 30px 0 0 0;
  padding: 0;
}

#footer .footer-top .footer-newsletter {
  text-align: center;
  font-size: 15px;
  margin-top: 30px;
}

#footer .footer-top .footer-newsletter form {
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border: 2px solid #000;
  text-align: left;
}

#footer .footer-top .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-top .footer-newsletter form .subscribe-button {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  border: 2px solid #000;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: $sea;
  color: #fff;
  transition: 0.3s;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-top .footer-newsletter form .subscribe-button:hover {
  background-color: #2c08bb;
}

.subscribe-error {
  font-size: 17px !important;
  position: absolute;
  font-family: monospace, sans-serif; 
  color:red ;
  transform: translate(-30%, -30px);
}

#footer .footer-top .social-links {
  margin-top: 30px;
}

#footer .footer-top .social-links a {
  font-size: 30px;
  border: 2px solid #000;
  display: inline-block;
  background: #fff;
  color: #58595a;
  line-height: 1;
  padding: 4px 0;
  margin-right: 8px;
  text-align: center;
  width: 40px;
  height: 40px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  transform: translate(4px, -4px);
  box-shadow: -6px 6px 0 #000;
}
#footer .footer-bottom {
  border-top: 1px solid #d9dce2;
  z-index: 2;
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
}
#footer .copyright {
  float: left;
}
#footer .credits {
  float: right;
  font-size: 13px;
}
@media (max-width: 992px) {
  #footer .copyright,
  #footer .credits {
    float: none;
    -moz-text-align-last: center;
    text-align-last: center;
  }
}
@media (max-width: 600px) {
  #footer .footer-top {
    margin: 20px 10px;
  }
}
@media (max-width: 430px) {
  .subscribe-error {
    transform: translate(-20%, -30px);
  }
}
