.intro {
  width: 100%;
  height: 80vh;
  padding-top: 82px;
}
@media (max-width: 991px) {
  .intro {
    height: 100vh;
  }
}

@media (max-width: 768px) {
  .intro {
    height: auto;
    padding-bottom: 15px;
  }
}
